
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Optional
*.log
.cache/
.temp/

# React
.cache/
.env.development
.env.production

# Express
logs/
*.log
pid/
*.pid
*.seed
*.pid.lock
